@import 'tailwindcss';

@import 'tw-animate-css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@custom-variant dark (&:is(.dark *));

@theme {
    --font-sans:
        'Instrument Sans', ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
}

:root {
  --bg: #ffffff;
  --fg: #0f172a;

  --primary: #2563eb;
  --primary-fg: #ffffff;

  --border: #e5e7eb;
}


.dark {
  --bg: #ffffff;
  --fg: #0c0c0c;

  --primary: #E1A07F;
  --primary-fg: #020617;

  --border: #000000;
}

@layer base {
  body {
    background-color: var(--bg);
    color: var(--fg);
  }
}

